#slide-event.shadow.slide{"data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    = render "shared/flash"
    .grid_12
      %h1
        aspectos contables y legales al formar una empresa
    .grid_7
      %h2 17 de diciembre de 2013 / 19:00 a 21:00
      %h2 hotel rugendas, callao 2123, las condes
      %h2 expositores: julio deramond y victor luke
    .grid_5.omega
      %ul.demo-tags
        %li
          %a{href: "#"} $20.000
    .grid_7
      %p
        El objetivo del curso es que el alumno sepa cuáles son los tips más relevantes y/o críticos en cuanto al manejo de la contabilidad al momento de emprender. 
      %p
        De manera análoga, también se busca que el alumno maneje un lenguaje básico para relacionarse con un abogado y esté al tanto de los trámites fundamentales.
      %h4 tipos de sociedad y esquemas de participación
      %ul
        %li ¿Por qué una sociedad? Cuándo no conviene / no aplica la persona natural.
        %li Tipos de sociedad. Sociedades de personas y de capital. EIRL, LTDA, SpA, SA. Similitudes y diferencias.
        %li Acuerdos de participación. Acciones. Protección para los socios y la empresa. Vesting.
        %li Estructura de una empresa. Accionistas, directorio, administración, etc.
      %h4 constitución de sociedad e iniciación de actividades
      %ul
        %li Cómo constituir una sociedad. 
        %li Checklist para constitución vía Internet: requisitos, limitaciones, costos y plazos. 
        %li Checklist para constitución presencial: actores, papeles, costos y plazos.
        %li Otros requisitos para iniciar actividades. RUT, patente, permisos. Actores, papeles, costos y plazos.
      %h4 obligaciones contables y tributarias
      %ul
        %li Relación con el Servicio de Impuestos Internos (obligaciones Mensuales y Anuales)
        %li Facturación y tratamiento del IVA (Crédito y Débito)
        %li Boletas de Honorarios
        %li Impuesto de primera y segunda categoría. Retiros versus sueldos. Global complementario. FUT. Pago de PPM.
    .grid_5.omega
      %iframe{ src: "https://mapsengine.google.com/map/u/0/embed?mid=z0umjk9nG7zM.keDj-m9WPVh4", width: 640, height: 480}
#slide-footer.slide{"data-stellar-background-ratio" => "0.5"}
  .container.footer.clearfix
    .grid_4
      %ul
        %li About us
        %li Santiago office
        %li Bogotá office
        %li Work with us
    .grid_4
      %ul
        %li FAQ
        %li Pricing
        %li Terms & Conditions
        %li Become a partner
    .logo.grid_4.omega
      =image_tag "logo-1-1.png"

= javascript_include_tag "public"
- content_for :script do
  :plain
    //hi!