#event-header
  .container
    .row
      .col-md-12
        %h1 ¿sociedad de responsabilidad limitada o por acciones?
        %h2 tipos de sociedad / esquemas de participación / constitución e inicio de actividades
.container.curso
  .row
    .col-md-7
      %p.h3
        %strong Cuándo:
        Jueves 13 de marzo 2014 de 19:45 a 22:00 hrs.
      %p.h3
        %strong Dónde:
        Centro de Eventos Vitacura, San Félix 1318, Vitacura
      %p.h3
        %strong Expone:
        Alan Krausz
    .col-md-5
      .date
        %p
          13
          %span MAR
      %ul.demo-tags
        %li
          %a{href: "#"} $25.000
  .row
    .col-md-7
      .pretty-box.temario
        %p
          En este curso aprenderás a elegir el tipo de sociedad que mejor se adapte a tu negocio y conocer sus diferencias. Entregaremos los conocimientos legales para constituir y operar una empresa. Se revisarán las distintas clases de sociedades (EIRL, SpA, Ltda, entre otras) y se mostrarán los beneficios a largo plazo de cada sociedad, dependiendo si esperas tener inversionistas o no. Además, se revisarán las obligaciones tributarias que implica tener una empresa.
        %h4 tipos de sociedad y esquemas de participación
        %ul
          %li ¿Por qué una sociedad? Cuándo no conviene / no aplica la persona natural.
          %li Tipos de sociedad. Sociedades de personas y de capital. EIRL, LTDA, SpA, SA. Similitudes y diferencias.
          %li Acuerdos de participación. Acciones. Protección para los socios y la empresa.
          %li Estructura de una empresa. Accionistas, directorio, administración, etc.
          %li Riesgos del Negocio
        %h4 constitución de sociedad e iniciación de actividades
        %ul
          %li Cómo constituir una sociedad.
          %li Checklist para constitución vía Internet: requisitos, limitaciones, costos y plazos.
          %li Checklist para constitución presencial: actores, papeles, costos y plazos.
          %li Otros requisitos para iniciar actividades. RUT, patente, permisos. Actores, papeles, costos y plazos.
          %li Valor de toda la operación
    .col-md-5
      %iframe{ src: "https://mapsengine.google.com/map/u/0/embed?mid=z0umjk9nG7zM.k5UyS7WRDpH0", width: "100%", height: 480}
  .row
    .col-md-12
      %h2 Instructor
  .row
    .col-md-6
      .member
        = image_tag "mugshot-ak.jpg"
        %h3 Alan Krausz
        %ul.text-left
          %li Abogado Universidad de Chile; Master en Business Law Universidad Adolfo Ibáñez
          %li Especialista en Derecho del Consumidor, Derecho Civil, Comercial y Económico
          %li Profesor "Derecho y Empresa" Universidad Adolfo Ibáñez
          %li
            Fundador de
            = link_to "Kawell", "http://www.kawell.cl/"


#dialog-avisenme{style: "display:none;"}
  %p.validateTips Déjanos tu teléfono o correo electrónico para contactarte con los detalles.
  %form.dialog
    %fieldset
      %label{for: "name"} Nombre
      %input#name.text.ui-widget-content.ui-corner-all{name: "name", type: "text"}/
      %label{for: "phone"} Teléfono
      %input#phone.text.ui-widget-content.ui-corner-all{name: "phone", type: "text", value: ""}/
      %label{for: "email"} Email
      %input#email.text.ui-widget-content.ui-corner-all{name: "email", type: "email", value: ""}/
      %label{for: "phone"} Código de descuento
      %input#code.text.ui-widget-content.ui-corner-all{name: "code", type: "text", value: ""}/
#dialog-ok{style: "display:none;"}
  %h1 Te contactaremos lo antes posible.


- content_for :script do
  :plain
    var name =       null;
    var phone =      null;
    var email =      null;
    var comment =    null;
    var code =       null;
    var tips =       null;
    var allFields =  null;
    var defaultTip = null;
    var successTip = null;

    var emailRegexp = /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i;
    var phoneRegexp = /^(\+)?[0-9 ][0-9 \-]{7,}$/;
    var nameRegexp = /[a-z]+/i;

    function loadFields(where) {
      name = $(where + " input[name='name']");
      phone = $(where + " input[name='phone']");
      email = $(where + " input[name='email']");
      code = $(where + " input[name='code']");
      comment = $(where + " textarea");
      allFields = $( [] ).add( name ).add( email ).add( phone ).add( comment );
      tips = $(where + " p.validateTips");
    }

    function updateTips( t ) {
      if(t) {
        tips
          .text( t )
          .addClass( "ui-state-highlight", 200 )
          .removeClass( "ui-state-highlight", 200 )
          .addClass( "ui-state-highlight", 200 )
          .removeClass( "ui-state-highlight", 200 );
      } else {
        tips.text(defaultTip);
      }
    }

    function checkRegexp( o, regexp, n, alert ) {
      if(alert !== false) alert = true;
      if ( !( regexp.test( o.val() ) ) ) {
        if(alert) {
          o.addClass( "ui-state-error" );
          updateTips( n );
        }
        return false;
      } else {
        return true;
      }
    }

    $("button#inscribirse").click(function(e){
      loadFields("#dialog-avisenme");
      defaultTip = "Déjanos tu teléfono o correo electrónico para entregarte los detalles";
      successTip = "Te contactaremos cuanto antes.";
      var evento = $(this).attr("data-curso");
      $("#dialog-avisenme").dialog({
        modal: true,
        title: "Curso '" + evento + "'",
        buttons: {
          "Guardar": function() {
            var valid = true;
            var contacto = false;
            updateTips();
            allFields.removeClass( "ui-state-error" );
            valid = valid && checkRegexp(name, nameRegexp, "Por favor escribe tu nombre");
            contacto = contacto || checkRegexp(phone, phoneRegexp, "", false);
            contacto = contacto || checkRegexp(email, emailRegexp, "", false);
            if(!valid) return;
            if(!contacto) {
              email.add(phone).addClass("ui-state-error");
              updateTips("Por favor ingresa un celular o correo electrónico válido");
            }
            if(valid && contacto) {
              var vName = name.val();
              var vPhone = phone.val();
              var vEmail = email.val();
              var vCode = code.val();
              $.post("/contacto/", { contact: { user: vName, phone: vPhone, email: vEmail, event: evento, code: vCode } }, function () {
                $("#dialog-avisenme").dialog("close");
                $("h1#successTip").text(successTip);
                $("#dialog-ok").dialog({modal: true, buttons: {OK: function() {$( this ).dialog( "close" );}}})
              });
            }
          },
          "Cancelar": function () { $( this ).dialog( "close" ); }
        }
      });
      e.preventDefault();
    });



- content_for :title do
  13-Mar / 19:45 / centro de eventos vitacura

- content_for :nombre_curso do
  SRL vs. SPA
