#event-header
  .container
    .row
      .col-md-12
        %h1 aspectos legales y contables al formar una empresa
        %h2 Tipos de sociedad / esquemas de participación / constitución e inicio de actividades / obligaciones contables y tributarias
.container.curso
  .row
    .col-md-7
      %p.h3
        %strong Cuándo:
        17 de diciembre de 2013 de 19:00 a 21:00
      %p.h3
        %strong Dónde:
        Hotel Rugendas, Metro El Golf, Las Condes
      %p.h3
        %strong Exponen:
        Julio Deramond y Victor Luke
    .col-md-5
      .date
        %p
          17
          %span DIC
      %ul.demo-tags
        %li
          %a{href: "#"} $20.000
  .row
    .col-md-7
      .pretty-box.temario
        %p
          El objetivo del curso es que el alumno sepa cuáles son los tips más relevantes y/o críticos en cuanto al manejo de la contabilidad al momento de emprender. 
        %p
          De manera análoga, también se busca que el alumno maneje un lenguaje básico para relacionarse con un abogado y esté al tanto de los trámites fundamentales.
        %h4 tipos de sociedad y esquemas de participación
        %ul
          %li ¿Por qué una sociedad? Cuándo no conviene / no aplica la persona natural.
          %li Tipos de sociedad. Sociedades de personas y de capital. EIRL, LTDA, SpA, SA. Similitudes y diferencias.
          %li Acuerdos de participación. Acciones. Protección para los socios y la empresa. Vesting.
          %li Estructura de una empresa. Accionistas, directorio, administración, etc.
        %h4 constitución de sociedad e iniciación de actividades
        %ul
          %li Cómo constituir una sociedad. 
          %li Checklist para constitución vía Internet: requisitos, limitaciones, costos y plazos. 
          %li Checklist para constitución presencial: actores, papeles, costos y plazos.
          %li Otros requisitos para iniciar actividades. RUT, patente, permisos. Actores, papeles, costos y plazos.
        %h4 obligaciones contables y tributarias
        %ul
          %li Relación con el Servicio de Impuestos Internos (obligaciones Mensuales y Anuales)
          %li Facturación y tratamiento del IVA (Crédito y Débito)
          %li Boletas de Honorarios
          %li Impuesto de primera y segunda categoría. Retiros versus sueldos. Global complementario. FUT. Pago de PPM.
    .col-md-5
      %iframe{ src: "https://mapsengine.google.com/map/u/0/embed?mid=z0umjk9nG7zM.keDj-m9WPVh4", width: "100%", height: 480}
  .row
    .col-md-12
      %h2 Instructores
  .row
    .col-md-6
      %h3 Victor Luke
    .col-md-6
      %h3 Julio Deramond


- content_for :title do
  17-Dic / 19:00 / Hotel Rugendas (El Golf)

- content_for :script do
  :plain
    //hi!