%div{bgcolor: "#FFFFFF", style: "width:100%!important"}
  %div{align: "center"}
    %table{border: "0", cellpadding: "0", cellspacing: "0", height: "39", width: "600"}
      %tbody
        %tr
          %td{valign: "top"}
            %div{align: "center"}
              %table{border: "0", cellpadding: "0", cellspacing: "0", width: "441"}
                %tbody
                  %tr
                    %td{style: "font-size:10px;color:#666666;font-family:verdana;text-decoration:none;line-height:12px"}
                      %div{align: "center"}
                        Para asegurar la entrega de nuestros e-mail en su correo, por favor agregue al remitente a su libreta de contactos
                        %br/
                        Si usted no visualiza bien este  mail, haga
                        %a{href: "http://www.startclass.cl/clases-presenciales/13-de-marzo", target: "_blank"} click aquí
  %div{align: "center"}
    %table{border: "0", cellpadding: "0", cellspacing: "0", width: "600"}
      %tbody
        %tr
          %td
            %table{bgcolor: "#FFFFFF", border: "0", cellpadding: "0", cellspacing: "0", style: "margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto", width: "600"}
              %tbody
                %tr
                  %td{width: "600"}
                    %a{href: "http://www.startclass.cl/", target: "new"}
                      %img{alt: "Capacitacion StartClass", border: "0", height: "98", src: "http://grupofmg.cl/mailing/img/cortes_01_0.jpg", style: "display:block;background-color:#FFF;color:white;font-size:22px", width: "600"}/
                %tr
                  %td{width: "600"}
                    %img{alt: " ", border: "0", height: "68", src: "http://grupofmg.cl/mailing/img/cortes_02_1.jpg", style: "display:block", width: "600"}/
                %tr
                  %td{width: "600"}
                    %img{alt: " Clases prácticas, cortas y al grano", border: "0", height: "99", src: "http://grupofmg.cl/mailing/img/cortes_03_2.jpg", style: "display:block", width: "600"}/
                %tr
                  %td{width: "600"}
                    %img{alt: " ", border: "0", height: "91", src: "http://grupofmg.cl/mailing/img/cortes_04_3.jpg", style: "display:block", width: "600"}/
                %tr
                  %td{width: "600"}
                    %table{border: "0", cellpadding: "0", cellspacing: "0", style: "margin-top:20px;margin-bottom:20px;margin-right:20px;margin-left:40px;font-family:Helvetica;font-size:14px; font-weight:normal;", width: "540"}
                      %tbody
                        %tr
                          %td{colspan: "2", width: "100"}
                            %strong{style: "font-family:Helvetica"} Jueves 13 de marzo, 19:45 hrs.
                        %tr
                          %td{colspan: "2", width: "540"}
                            %hr{style: "margin-top:3px;margin-bottom:3px;margin-right:0px;margin-left:0px;color:#f6f6f6"}/
                        %tr
                          %td{width: "100"}
                            %strong{style: "font-family:Helvetica"}
                              %a{href: "http://www.startclass.cl/#slide2", style: "text-decoration:none; color:#000;", target: "new"} Tema:
                          %td
                            %strong{style: "font-family:Helvetica"}
                              %a{href: clase13marzo_url, style: "text-decoration:none; color:#000;", target: "new"} ¿Cómo partir tu negocio: Sociedad de Responsabilidad Limitada o por Acciones?
                        %tr
                          %td{colspan: "2", style: "font-size:12px; text-align:justify;"}
                            %br/
                            %a{href: clase13marzo_url, style: "color:#000; text-decoration:none;", target: "new"}
                              En este curso aprenderás a elegir la sociedad que mejor se adapte a tu idea y conocer sus diferencias. Entregaremos recomendaciones legales básicas para constituir y operar una empresa. Tipos de sociedades (EIRL, SpA, Ltda, entre otras.), cumplimiento de obligaciones tributarias y el lenguaje mínimo para relacionarse con un abogado.
                              %strong (clic aquí para ver temario completo)

                %tr
                  %td{width: "600"}
                    %img{alt: "", border: "0", height: "20", src: "http://grupofmg.cl/mailing/img/cortes_06_4.jpg", style: "display:block", width: "600"}/
                %tr
                  %td{bgcolor: "#F6F6F6", colspan: "2"}
                    %table{border: "0", cellpadding: "0", cellspacing: "0", width: "600"}
                      %tbody
                        %tr
                          %td{align: "left", style: "padding-top:10px;padding-bottom:10px;padding-right:0px;padding-left:40px;font-family:Helvetica;text-align:left", valign: "top", width: "407"}
                            %p{style: "margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:Helvetica;color:#1a1a1a;font-size:14px;text-align:left"}
                              %br/
                              %span{style: "font-family:Helvetica;color:#1b6daa;text-align:left;"}
                                %strong{style: "font-family:Helvetica;color:#298b42"} Lugar:
                              %br/
                              %a{href: "https://www.google.cl/maps/place/San+F%C3%A9lix+1318/@-33.3900785,-70.5598795,17z/data=!3m1!4b1!4m2!3m1!1s0x9662cecd17554cbd:0x453499c4c5037e5a", style: "color:#000; text-decoration:none;", target: "new"}
                                Centro de Eventos Vitacura.
                                %br/
                                San Felix 1318, Vitacura, Santiago.
                          %td{align: "left", rowspan: "3", style: "padding-top:10px;padding-bottom:0px;padding-right:0px;padding-left:20px;text-align:left", valign: "top", width: "193"}
                            %p{style: "margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:Helvetica;color:#1a1a1a;font-size:12px;text-align:left"}
                              %br/
                              %span{style: "font-family:Helvetica;color:#1b6daa;text-align:left"}
                                %strong{style: "font-family:Helvetica;color:#298b42; font-size:14px !important;"}     Expositores
                              %br/
                              %br/
                            %div{style: "margin-top:5px;margin-bottom:10px;margin-right:0px;margin-left:3px"}
                              %a{href: "http://www.startclass.cl/", style: "text-decoration:none; color:#000;", target: "new"}
                                %img{alt: "", border: "0", height: "129", src: "http://grupofmg.cl/mailing/img/victor.jpg", style: "display:block", width: "105"}/
                            %p{style: "font-family:Helvetica,Geneva,sans-serif;color:#1a1a1a;font-size:12px;text-align:left"}
                              %strong{style: "font-family:Helvetica;text-align:left"}Alan Krausz
                              %br/
                              Abogado,
                              %br/
                              Asociado AEM
                              %br/
                              Fundador
                              %a{href: "http://www.kawell.cl", style: "text-decoration:none; color:#000;", target: "new"} Kawell.
                              %br/
                        %tr
                          %td{align: "left", style: "padding-top:0px;padding-bottom:10px;padding-right:0px;padding-left:40px;font-family:Helvetica;text-align:left", valign: "top", width: "407"}
                            %p{style: "margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:Helvetica;color:#1a1a1a;font-size:14px;text-align:left"}
                              %br/
                              %span{style: "font-family:Helvetica;color:#1b6daa;text-align:left;"}
                                %strong{style: "font-family:Helvetica;color:#298b42"} Horario:
                              %br/
                              19:45 a 22:00 hrs.
                            %br/
                            %p{style: "margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:Helvetica;color:#1a1a1a;font-size:14px;text-align:left"}
                              %span{style: "font-family:Helvetica;color:#298b42;text-align:left"}
                                %strong{style: "font-family:Helvetica;color:#298b42;text-align:left"} Valor:
                              %br/
                              Público general: $25.000
                              %b{style: "font-weight:normal; font-size:11px;"}
                                %br>/
                                (se incluye Coffee Break y estacionamiento)
                            %p{style: "font-size:10px; margin-top:0px;"}
                              / *$15.000 para l@s que respondan la sgte. <a href="#" target="new">ENCUESTA</a>
                            %p{style: "margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:10px;padding-bottom:0;padding-right:0;padding-left:0;font-family:Helvetica;color:#1a1a1a;font-size:14px;text-align:left"}
                              %span{style: "font-family:Helvetica;color:#1b6daa;text-align:left"}
                                %strong{style: "font-family:Helvetica;color:#298b42;text-align:left"} Consultas e inscripciones:
                              %br/
                              %a{href: "mailto:inscripciones@startclass.cl", style: "color:#4d4d4d;font-family:Helvetica;text-align:left; font-size:14px;", target: "_blank"} inscripciones@startclass.cl
                              %br/
                            %p{style: "padding-top:8px;"}
                              %strong{style: "font-family:Helvetica;color:#298b42;text-align:left"} Invitan:
                              %br/
                              %br/
                              %a{href: "http://co-work.cl", style: "color:#4d4d4d;font-family:Helvetica;text-align:left; font-size:14px;", target: "_blank"}
                                %img{height: "50", src: "http://grupofmg.cl/mailing2/co.png"}/
                                  
                              %a{href: "http://www.vitaemprende.cl", target: "new"}
                                %img{height: "55", src: "http://www.grupofmg.cl/mailing2/vita.jpg"}/
                %tr
                  %td
                    %table{bgcolor: "#706F6F", border: "0", cellpadding: "0", cellspacing: "0", height: "31", width: "600"}
                      %tbody
                        %tr
                          %td{width: "173"}  
                          %td{width: "263"}
                            %center
                              %a{href: "http://www.startclass.cl", style: "color:#FFFFFF;font-family:Helvetica;font-size:14px;text-decoration:none;", target: "new"} www.startclass.cl
                          %td{width: "164"}  
            %div{align: "center"}
              %table{border: "0", cellpadding: "0", style: "border-collapse:collapse", width: "600"}
                %tbody
                  %tr
                    %td{align: "left", height: "50", style: "font-size:10px;color:#666666;font-family:verdana;text-decoration:none;line-height:12px", valign: "top", width: "596"}
                      %div
                        %div{align: "center"}
                          %br/
                          Este mail fue enviado por StartClass
                          %br/
                          Dirección: Los Laureles 1035, Vitacura, Santiago, Chile.
                          %br/
                          %b ©2013 Derechos Reservados
            %img{alt: "", border: "0", height: "1", src: "http://grupofmg.cl/mailing/img/o.gif\t", style: "min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important", width: "1"}/